@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}
/*------- HEADER -----*/
header{  
    background-color: white;
    position:fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
    padding: 0px;
}
nav{background-color: white;}

/*--NUEVO NAVBAR--*/

.container-fluid {
    padding: 0px;
}
.btn {
    color: #1BA5DE;
    border-color: #1BA5DE;
    transition: 0.5s;
}
.btn:hover {
    color: white;
    background-color: #1BA5DE;
}
.nav-item {
    font-size: 20px;
}
.navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
}
.d-flex{
    padding-right: 10px;
    padding-left: 10px;
}

/*--header div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}
header div nav ul{
    list-style: none;

}
header div nav ul{
    list-style: none;
    text-align: right;
}
header div nav ul li{
    margin: 10px;
    display: inline-block;
    
}*/


header nav div a img {
    width: 380px;
    height: 80px;
}


/*------- MAIN -------*/
/**------ INDEX -------**/
.set{
height: 100px;
}
.hero {
    width: 100%;
    height: calc(100vh - 100px);
    text-align: center;
    color: white;
    background-image: url(../img/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.hero h1{
    font-size: 80px;
    text-shadow: 10px 10px 10px blue;
}
.hero h2 {
    margin-bottom: 20px;
    font-size: 50px;
    text-shadow: 10px 10px 10px blue;
}
.hero a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: darkblue;
    padding: 10px 15px;
    font-size: 30px;
    width: 200px;
    transition: 0.5s;
}
.hero a:hover {
    color: white;
    background-color: #1BA5DE;
    scale: 1.1;

    
}
.resumen {
    text-align: center;
    background-color: #1BA5DE;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resumen h2{
    display: inline;
    margin-top: 10px;
}
.resumen p {
    display: inline;
    margin: 10px;
}

.numeros{
    background-image: url(../img/pattern02.png);
    background-size: cover;
}
.numeros-titulo{
    text-align: center;
    padding-top: 15px;
}
.numeros-{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.numeros-item {
    width: 200px;
    height: 200px;
    display:inline-block;
    justify-content: space-around;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
    
}
.numeros-item p{
    text-align: center;
}
.numeros-item div{
    text-align: center;
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
}
.numeros-item div img{
    width: 100px;
    height: 100px;

}
.numeros-item-numero{
    position: absolute;
    top: 25px;
    font-size: 40px;
}
.numeros-item-medida{
    position: absolute;
    bottom: -5px;

}

.clientes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../img/back-clientes.png);
    background: position -50px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.clientes h2{
    text-align: center;
    padding-top: 15px;
}
.clientes div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.clientes div a img{
    height: 150px;
    width: 150px;
    margin: 10px;

}


/*------FOOTER--------*/
footer{
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-wrap: wrap;
    background-color: #d5effa;
}
.pie-marca{
color:#1BA5DE;
display: inline;
justify-content: end;
align-items: center;}

.pie-marca h2{font-size: 30px;}
.pie-marca h3{font-size: 15px;}

.pie div{
    text-align: center;
    width: 250px;
    margin: 5px;
}
.pie div div img{
        width: 50px;
        height: 50px;
}
.pin{
    text-align: center;
    width: 100px;
    height: 100px;
}
.pin img{
    margin: 10px;
    height: 35px;
    width: 20px;
}
/*! ------- MEDIA QUERY ------- */
@media screen and (max-width: 957px) {
    .hero h1{
        font-size: 65px;}
    .hero h2{
    font-size: 35px;}    
}
@media screen and (max-width: 500px) {
    .hero h1{
        font-size: 45px;}
        .hero h2{
            font-size: 28px;}
    .hero a {
        padding: 10px 15px;
        font-size: 20px;
        width: 130px;}  
    header nav div a img {
        width: 285px;
        height: 60px;
    }
}

/*? -------- SERVICIOS -------- */ 

.servicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../img/pattern07.png);
    
}
.servicio-descripcion{width: 300px;}
.servicio-descripcion h2{
    margin:10px;
    text-align: center;
}
.servicio-descripcion p{
    text-align: center;
}
.servicio-video video{
    width:100%;
    max-width:600px;
    max-height: 400px;
}
.opciones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #2bdeff;
}

.opciones div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    min-width: 300px;
    width: 20%;
    margin: 5px;
    height: 575px
}
.opciones div p{
    padding: 10px;
    font-size: 14px;
}
.opciones div h2 {
    font-size: 27px;
    margin: 5px;
}
.opciones div img{
    width: 150px;
    height: 150px;
}
.opciones-a{
    background-color: #D93612;
}
.opciones-b{
    background-color:#1BA5DE ;
}
/*! ------- MEDIA QUERY ------- */
@media screen and (max-width: 899px) {
    .servicio-descripcion{
    width: 90%;}
    .servicio-video{
        width: 90%;}
    }

/*? --------- PRODUCTOS --------*/
.main-producto{background-image: url(../img/pattern01.png);}
.producto{
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    grid-template-areas: 
    "texto1 texto1 img1"
    "img2 texto2 texto2"
    "texto3 texto3 img3"
    "img4 texto4 texto4"
    ;
}
.texto1{
    grid-area: texto1;
}
.texto2{
    grid-area: texto2;
}
.texto3{
    grid-area: texto3;
}
.texto4{
    grid-area: texto4;
}
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}


.producto div img{
    width: 100%
}

/*! ------- MEDIA QUERY ------- */
@media screen and (max-width: 750px) {
    .producto div h2{
        font-size: 24px;}
    .producto div p{
    font-size: 12px;}    
}

@media screen and (max-width: 600px) {
    .producto{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "img1"
        "texto1"
        "img2"
        "texto2"
        "img3"
        "texto3"
        "img4"
        "texto4"
        ;}   
}



/*? --------- CONTACTO --------*/
.main-contacto{
    background-image: url(../img/pattern03.png);
    background-size: cover;
}
.contacto-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: 280px;
    
}
.contacto-form div div{
    margin: 2px;
}
.contacto-form div div p{
    display: inline;
}
.contacto-form div div div{
    display: inline;
}
.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info iframe{
    margin: 20px;
}
.info div{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start ;
}
.producto-a{
    background-color:#1BA5DE;
    display: flex;


}
.producto-b{
    display: flex;
}
.producto div div img{
    height: 150px;
    width: 150px;
}

/*? --------- NOSOTROS --------*/

.equipo img{
    width: 200px;
    height: 200px;
}