.main-contacto{
    background-image: url(../img/pattern03.png);
    background-size: cover;
    .contacto{
        form{
            div{
                @include flex(flex, space-around, center);
                flex-wrap: wrap;
                .contacto-form{
                    @include flex(flex, space-around, center);
                    flex-direction: column;
                    height: 280px;
                    width: 350px;
                
                    // h2{}
                    div{margin: 2px;}
                    div{
                        p{ display: inline;}
                        div{ display: inline;}
                    }
                    }
                
            }
            .contacto-consulta{
                @include flex(flex, space-around, center);
                flex-direction: column;
                width: 350px;
                .contacto-consulta-cuadro{
                    @include flex(flex, space-around, center);
                    flex-direction: column;
                    textarea{height: 150px;}
                }
            }
        }
    }
}
.info{
    @include flex(flex, space-around, center);
    flex-wrap: wrap;
    div{
        height: 250px;
        @include flex(flex, space-around, flex-start);
        flex-direction: column;
    }
    iframe{margin: 20px;}
}