/*-------- HEADER -------*/
header{
    background-color: white;
    position:fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
    padding: 0px;
    
    nav{
        background-color: white;
        .container-fluid{
            padding: 0px;
            a{
                img{
                    width: 380px;
                    height: 80px;   
                }
            }
            div{
                .navbar-nav{
                    padding-right: 10px;
                    padding-left: 10px;
                    .nav-item{
                        font-size: 20px;
                        .nav-link{
                            padding-right: 10px;
                            padding-left: 10px;
                        }
                    }
                }
                .d-flex{  
                    padding-right: 10px;
                    padding-left: 10px;
                    .btn{
                        color: #1BA5DE;
                        border-color: #1BA5DE;
                        transition: 0.5s;
                        &:hover{
                            color: white;
                            background-color: #1BA5DE;
                        }

                    }
                }
            }
        }




    }


}