.servicio{        
    @include flex(flex, space-around, center);
    flex-wrap: wrap;
    background-image: url(../img/pattern07.png);
    .servicio-descripcion{
        width: 300px;
        h2{
            margin:10px;
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
    .servicio-video{
        video{width:100%;
            max-width:600px;
            max-height: 400px;}
    }
}
.opciones{
    @include flex(flex, space-around, center);
    flex-wrap: wrap;
    background-color: $color-secundario;
    .opciones-a{
        background-color: $color-terc;
        text-align: center;
        @include flex(flex, space-around, center);
        flex-direction: column;
        min-width: 300px;
        width: 20%;
        margin: 5px;
        height: 575px;
        h2{
            font-size: 27px;
            margin: 5px;
        }
        img{
            width: 150px;
            height: 150px;
        }
        p{  
            padding: 10px;
            font-size: 14px;}
    }
    .opciones-b{
        background-color: $color-terc;
        text-align: center;
        @include flex(flex, space-around, center);
        flex-direction: column;
        min-width: 300px;
        width: 20%;
        margin: 5px;
        height: 575px;
        h2{
            font-size: 27px;
            margin: 5px;
        }
        img{
            width: 150px;
            height: 150px;
        }
        p{
            padding: 10px;
            font-size: 14px;
        }
    }
}